Repository Space2Study-Project/Space2Study-FrontEnd, pull requests merged in 2023-12, with the labels that each got.

#133 unit test for "PageWrapper" component#101 added
  tests/unit/components/page-wrapper/page-wrapper.spec.jsx
Labels: Unit test

#139 add test to TitleWithDescription #126
  tests/unit/components/title-with-description/TitleWithDescription.spec.jsx
Labels: FrontEnd part, Unit test

#130 add test for AppContentSwitcher component
  tests/unit/components/app-content-switcher/AppContentSwitcher.spec.jsx
Labels: FrontEnd part, Unit test

#138 add test to AppTextField #122
  tests/unit/components/app-text-field/AppTextField.spec.jsx
Labels: FrontEnd part, Unit test

#143 Unit test for "AppTextArea" component #98
  src/components/app-text-area/AppTextArea.jsx
  tests/unit/components/app-text-area/AppTextArea.spec.jsx
Labels: FrontEnd part, Unit test

#137 Unit test for "Categories" page
  tests/unit/pages/categories/Categories.spec.jsx
Labels: Unit test

#135 add test to Subjects component #121
  tests/unit/pages/subjects/Subjects.spec.jsx
Labels: FrontEnd part, Unit test

#136 solved test #117
  tests/unit/pages/find-offers/FindOffers.spec.jsx
Labels: FrontEnd part, Unit test

#140 Task #118 done
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
Labels: FrontEnd part, Unit test

#146 Unit test for "ImgTitleDescription" component
  tests/unit/components/img-title-description/ImgTitleDescription.spec.jsx
Labels: FrontEnd part, Unit test

#147 add test for videobox component
  tests/unit/components/video-box/VideoBox.spec.jsx
Labels: FrontEnd part, Unit test

#165 select fields of categories and subjects on Subjects step for a tutor stepper #156
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
  tests/unit/containers/tutor-home-page/subject-step/SubjectStep.spec.jsx
Labels: FrontEnd part, feature, Stepper

#163 fix regexp
  src/utils/validations/common.js
Labels: FrontEnd part, feature, Sign up

#164 Feature #151 sign up
  src/containers/guest-home-page/signup-form/SignupForm.jsx
Labels: FrontEnd part, feature, Sign up

#162 add test for AccordionWithImage component
  tests/unit/components/accordion-with-image/AccordionWithImage.spec.jsx
Labels: FrontEnd part, Unit test

#134 Test #99 popup dialog
  tests/unit/components/loader/Loader.spec 2.jsx
  tests/unit/components/loader/Loader.spec.jsx
  tests/unit/components/popup-dialog/PopupDialog.spec.jsx
Labels: FrontEnd part, Unit test

#168 Implementation general step component
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.js
  src/hooks/use-country-city-info.jsx
  src/hooks/use-name.jsx
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
Labels: FrontEnd part, feature, tutor, student, Stepper

#183 Add Language step#177 (LanguageStep component, tests, styles added)
  src/containers/tutor-home-page/language-step/LanguageStep.jsx
  src/containers/tutor-home-page/language-step/LanguageStep.styles.js
  tests/unit/containers/tutor-home-page/language-step/LanguageStep.spec.jsx
Labels: FrontEnd part, feature, tutor, student, Stepper

#170 Add button subjects#157
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
  tests/unit/containers/tutor-home-page/subject-step/SubjectStep.spec.jsx
Labels: FrontEnd part, feature, tutor, Stepper

#189 Feature/addvalidationfor generalinfosteep
  src/components/step-wrapper/StepWrapper.jsx
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/hooks/use-name.jsx
  tests/unit/components/step-wrapper/StepWrapper.spec.jsx
  tests/unit/components/user-steps-wraper/UserStepsWrapper.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
Labels: FrontEnd part, feature

#187 Feature/error message fetching#169
  src/constants/translations/en/common.json
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/hooks/use-country-city-info.jsx
  src/hooks/use-name.jsx
  tests/unit/components/user-steps-wraper/UserStepsWrapper.spec.jsx
  tests/unit/containers/tutor-home-page/subject-step/SubjectStep.spec.jsx
Labels: FrontEnd part, feature, tutor, Stepper

#193 Feature/validation photo #180
  src/constants/translations/en/common.json
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: FrontEnd part, feature, Stepper

#191 [Categories] Add title with description and search input
  src/components/category-header/CategoryHeader.jsx
  src/components/category-header/CategoryHeader.styles.js
  src/pages/categories/Categories.jsx
  tests/unit/components/category-header/CategoryHeader.spec.jsx
Labels: FrontEnd part, feature, Categories

#192 Standardizing Styles Across All Stepper Steps
  src/assets/img/tutor-home-page/become-tutor/general-info.svg
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.style.js
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.styles.js
  src/containers/tutor-home-page/language-step/LanguageStep.jsx
  src/containers/tutor-home-page/language-step/LanguageStep.styles.js
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.styles.js
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
Labels: bug, FrontEnd part, tutor, Stepper

#185 tests appPopover #123
  tests/unit/components/app-popover/AppPopover.spec.jsx
Labels: FrontEnd part, Unit test

#181 verification subjects
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
Labels: FrontEnd part, student, Stepper

#207 [Categories] Implement create request block
  src/assets/img/find-offer-request/sign-up/sendRequest.svg
  src/assets/img/student-home-page/subject_icon.png
  src/components/create-request/CreateRequest.jsx
  src/components/create-request/CreateRequest.styles.js
  src/constants/translations/en/categories-page.json
  src/constants/translations/en/find-offer-page.json
  src/hooks/use-request.jsx
  src/pages/categories/Categories.jsx
  tests/unit/components/create-request/CreateRequest.spec.jsx
Labels: FrontEnd part, feature, Categories

#208 Implement finish stepper#179
  src/components/step-wrapper/StepWrapper.jsx
  src/components/user-steps-wrapper/UserStepsWrapper.jsx
  src/containers/tutor-home-page/add-photo-step/AddPhotoStep.jsx
  src/containers/tutor-home-page/general-info-step/GeneralInfoStep.jsx
  src/containers/tutor-home-page/language-step/LanguageStep.jsx
  src/containers/tutor-home-page/subjects-step/SubjectsStep.jsx
  src/context/steps-data-context.jsx
  src/hooks/use-name.jsx
  src/pages/student-home/StudentHome.jsx
  src/pages/tutor-home/TutorHome.jsx
  src/services/user-service.js
  tests/unit/components/step-wrapper/StepWrapper.spec.jsx
  tests/unit/components/user-steps-wraper/UserStepsWrapper.spec.jsx
  tests/unit/containers/tutor-home-page/add-photo-step/AddPhotoStep.spec.jsx
  tests/unit/containers/tutor-home-page/general-info-step/GeneralInfoStep.spec.jsx
  tests/unit/containers/tutor-home-page/language-step/LanguageStep.spec.jsx
  tests/unit/containers/tutor-home-page/subject-step/SubjectStep.spec.jsx
Labels: FrontEnd part, feature, tutor, student, Stepper

#206 Implement list of categories block#174
  src/components/category-cards/CategoryCard.jsx
  src/components/category-cards/images.js
  src/components/category-items/CategoryItems.jsx
  src/components/category-items/CategoryItems.style.js
Labels: FrontEnd part, Categories

#209 styles fixed
  src/components/category-header/CategoryHeader.jsx
  src/components/category-header/CategoryHeader.styles.js
  src/components/create-request/CreateRequest.jsx
Labels: bug

#210 Bug/stepper validation bug fix
  src/context/steps-data-context.jsx
Labels: bug
